<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
	<arg name="foot_length" 	default="0.2742"/>
	<arg name="half_foot_length" value="$(eval foot_length/2)"/>
	
	<arg name="foot_left_name" default="calcn_l"/>
	<arg name="insole_distance_from_foot" default="0.02"/>

	<arg name="foot_right_name" default="calcn_r"/>
	
	<arg name="tf_prefix" 				default="ik/"/>
	
	<arg name="ignore_insole_imu_for_vis"	default="true"/>

	<group ns="left">
		<!-- 2 -->
		<!-- 3 -->
		<node pkg="tf" type="static_transform_publisher" name="skeleton_foot_to_center_of_foot_broadcaster" args="0 $(arg half_foot_length) 0 0 0 0 $(arg tf_prefix)$(arg foot_left_name) $(arg tf_prefix)left_foot_center 10" />
		<!-- 4 -->
		<node pkg="tf" if="$(arg ignore_insole_imu_for_vis)" type="static_transform_publisher" name="insole_fixed_insole_link_broadcaster" args="0 0 -$(arg insole_distance_from_foot) 0 0 0 1 $(arg tf_prefix)left_foot_center $(arg tf_prefix)left_insole 10" />
	</group>
	<group ns="right">
		<!-- this is pretending to be the right leg -->
		<!-- this is always going to be present and should be a fixed transform from the calcaneus bone to the middle of the foot-->
		<node pkg="tf" type="static_transform_publisher" name="skeleton_foot_to_center_of_foot_broadcaster" args="0 $(arg half_foot_length) 0 0 0 0 $(arg tf_prefix)$(arg foot_right_name) $(arg tf_prefix)right_foot_center 10" />

		<node pkg="tf" if="$(arg ignore_insole_imu_for_vis)" type="static_transform_publisher" name="insole_fixed_insole_link_broadcaster" args="0 0 -$(arg insole_distance_from_foot) 0 0 0 1 $(arg tf_prefix)right_foot_center $(arg tf_prefix)right_insole 10" />
	</group>


</launch>



