<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>

	<arg name="name" 		default="openGo" />
	<arg name="insole_freq" default="100" />
	<arg name="static_pub_freq" default="25" />

        <node pkg="moticon_insoles" type="from_sdk.py" 	name="moticon_insoles" output="screen">
		<param name="name" 		value="$(arg name)" />
		<param name="insole_rate" 		value="$(arg insole_freq)" />
		<param name="foot_length" 				value="0.26"/>
		<param name="foot_width" 				value="0.09"/>
		<param name="left_cop_reference_frame" 			value="calcn_l" />
		<param name="right_cop_reference_frame" 		value="calcn_r" />
        </node>
	
	<node pkg="imu_complementary_filter" type="complementary_filter_node"
      		name="complementary_filter_gain_node_left" output="screen">
	    <param name="do_bias_estimation" value="true"/>
	    <param name="do_adaptive_gain" value="true"/>
	    <param name="use_mag" value="false"/>
	    <param name="gain_acc" value="0.01"/>
	    <param name="gain_mag" value="0.01"/>
	    <remap from="/imu/data_raw" to="/left/imu_raw" />
	    <remap from="/imu/data" to="/left/imu" />

	</node>
	<node pkg="imu_complementary_filter" type="complementary_filter_node"
      		name="complementary_filter_gain_node_right" output="screen">
	    <param name="do_bias_estimation" value="true"/>
	    <param name="do_adaptive_gain" value="true"/>
	    <param name="use_mag" value="false"/>
	    <param name="gain_acc" value="0.01"/>
	    <param name="gain_mag" value="0.01"/>
	    <remap from="/imu/data_raw" to="/right/imu_raw" />
	    <remap from="/imu/data" to="/right/imu" />

	</node>

<!--node pkg="tf" type="static_transform_publisher" name="left_foot_static_broadcaster" args="-0.3 0 0 0 0.707 0.707 0 map left $(arg static_pub_freq)" /-->
<!--node pkg="tf" type="static_transform_publisher" name="right_foot_static_broadcaster" args="0.3 0 0 0 0.707 0.707 0 map right $(arg static_pub_freq)" /-->

<!-- left_foot right_foot  -->

</launch>


