<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
	<arg name="visualization" default="true" />
	<arg name="filename" 	default="/srv/data/gait1992/inverse_kinematics/task_InverseKinematics.mot" />
	<!-- arg name="filename" default="/catkin_ws/Data/ruoli/ViconData/Ruoli/Moticon_insole/RealTimekIDS2/2023-03-03-11-56-24walking012_ik_lower.sto"/ -->
	<arg name="freq" default="100" />
	<arg name="loops" default="1" />
	<node if="$(arg visualization)" name="rviz" pkg="rviz" type="rviz" args="-d $(find moticon_insoles)/human_2_wrenches.rviz" />

	<!-- left_foot right_foot  -->
	<include file="$(find osrt_ros)/launch/ik_bare_1992.launch">
		<arg name="ik_file" value="$(arg filename)"/>
		<arg name="async_run" value="true"/>
		<arg name="loops" value="$(arg loops)"/>
	</include>


	<include file="$(find gait1992_description)/launch/load_generated_urdf_ximus.launch"/>

	<node name="human_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
		<param name="ignore_timestamp" value="true"/>
		<remap from="/joint_states" to="/model_generic/joint_states" />
	</node>

	<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file /catkin_ws/src/gait1992_description/description/model_generic/model_generic_aCol.urdf -urdf -x 0 -y 0 -z 2 -model model_generic" />

	<include file="$(find gait1992_description)/launch/feet_missing_tfs_publisher.launch">
		<arg name="freq" value="100"/>
	</include>

	<include file="$(find osrt_ros)/launch/custom.launch"/>

</launch>


